state_machine.asl.json
{
  "StartAt": "Filter Tweets",
  "States": {
    "Filter Tweets": {
      "Type": "Task",
      "Resource": "${FilterTweetsTableFunctionArn}",
      "Next": "Are there tweets",
      "Comment": "Filter 'Tweets' table, getting every different tweet (retweets not included)"
    }, 
    "Are there tweets": {
        "Type" : "Choice",
        "Choices": [ 
          {
            "Not": {
              "Variable": "$.last_evaluated_key.id_str",
              "StringEquals": "-1"
            },
            "Next": "Insert Tweets"
          }
        ]
    },
    "Insert Tweets": {
      "Type": "Task",
      "Resource": "${InsertFilteredTweetsFunctionArn}",
      "End": true,
      "Comment": "Search the full text of every tweet previously filtered and save it in a new table"
    }
  }
}